.signup {
  h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  form {
    background-color: orange;
    max-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 8px 8px 16px darkgray;
    margin: 0 auto;

    .formContent {
      background-color: rgba(255, 255, 255);
      border-radius: 1rem;
    }

    p {
      display: flex;
      padding: 1rem;
    }

    label {
      width: 100%;
      display: block;
      padding: 0.5rem;
    }

    input {
      width: 100%;
      background-color: whitesmoke;
      padding: 0.5rem;
      outline: none;
    }

    .control {
      display: flex;
      justify-content: center;
      gap: 1rem;
      button,
      a {
        width: 50%;
        display: block;
        padding: 1rem;
        background-color: rgba(243, 153, 35, 0.8);
        color: white;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 8px 8px 16px darkgray;
        transition: 0.3s all;

        &:hover {
          background-color: rgba(243, 153, 35, 1);
        }
      }
    }
  }
}
