header {
  display: flex;
  padding: 0.2rem;
  background-color: green;

  .HeaderLeft {
    a {
      display: block;
      padding: 1rem;
      transition: 0.3s all;
      min-width: 80px;
      text-align: center;

      &:hover {
        background-color: blue;
      }
    }
  }
  .HeaderRight {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
